[Desktop Entry]
Categories=Qt;KDE;AudioVideo;
Comment[en_US]=Play local media files or HTTP streams
Comment=Play local media files, HTTP streams
Exec=WebPhonon-Qt5 %u
GenericName[en_US]=Media Player
GenericName=Media Player
Icon=WebPhononIcon
Exec=WebPhonon-Qt5
MimeType=;
Name[en_US]=WebPhonon-Qt5
Name=WebPhonon-Qt5
StartupNotify=true
Terminal=false
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
